[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dlib = "*"
numpy = "*"
opencv-python = "*"
ffmpeg-python = "*"
scikit-image = "*"
tqdm = "*"
imutils = "*"
tensorflow = "*"
pandas = "*"
face-recognition = "*"

[dev-packages]

[requires]
python_version = "3"
